@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  @apply w-full max-w-screen-2xs;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: 'NanumSquareRound', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply flex flex-col items-center;
}
